TopDown-Axis2-Add/resources/Add.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://axis2.reactiveworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://axis2.reactiveworks.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation> Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.reactiveworks.com">
			<xs:element name="getAdd">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="a" type="xs:int"/>
						<xs:element minOccurs="0" name="b" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAddResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAddRequest">
    <wsdl:part name="parameters" element="ns:getAdd">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddResponse">
    <wsdl:part name="parameters" element="ns:getAddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AddPortType">
    <wsdl:operation name="getAdd">
      <wsdl:input message="ns:getAddRequest" wsaw:Action="urn:getAdd">
    </wsdl:input>
      <wsdl:output message="ns:getAddResponse" wsaw:Action="urn:getAddResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddSoap11Binding" type="ns:AddPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAdd">
      <soap:operation soapAction="urn:getAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddSoap12Binding" type="ns:AddPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAdd">
      <soap12:operation soapAction="urn:getAdd" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddHttpBinding" type="ns:AddPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getAdd">
      <http:operation location="getAdd"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Add">
    <wsdl:port name="AddHttpEndpoint" binding="ns:AddHttpBinding">
      <http:address location="http://localhost:8081/BottomUp-Axis2-Add/services/Add.AddHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="AddHttpSoap11Endpoint" binding="ns:AddSoap11Binding">
      <soap:address location="http://localhost:8081/BottomUp-Axis2-Add/services/Add.AddHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="AddHttpSoap12Endpoint" binding="ns:AddSoap12Binding">
      <soap12:address location="http://localhost:8081/BottomUp-Axis2-Add/services/Add.AddHttpSoap12Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
