BottomUp-cxf-Calculator/webapp/wsdl/calculatorimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalculatorImplService" targetNamespace="http://example.cxf.reactiveworks.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.cxf.reactiveworks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://example.cxf.reactiveworks.com/" schemaLocation="calculatorimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getDivideResponse">
    <wsdl:part name="parameters" element="tns:getDivideResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMultiply">
    <wsdl:part name="parameters" element="tns:getMultiply">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDivide">
    <wsdl:part name="parameters" element="tns:getDivide">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtract">
    <wsdl:part name="parameters" element="tns:getSubtract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMultiplyResponse">
    <wsdl:part name="parameters" element="tns:getMultiplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddResponse">
    <wsdl:part name="parameters" element="tns:getAddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtractResponse">
    <wsdl:part name="parameters" element="tns:getSubtractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdd">
    <wsdl:part name="parameters" element="tns:getAdd">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorImpl">
    <wsdl:operation name="getDivide">
      <wsdl:input name="getDivide" message="tns:getDivide">
    </wsdl:input>
      <wsdl:output name="getDivideResponse" message="tns:getDivideResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <wsdl:input name="getSubtract" message="tns:getSubtract">
    </wsdl:input>
      <wsdl:output name="getSubtractResponse" message="tns:getSubtractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <wsdl:input name="getMultiply" message="tns:getMultiply">
    </wsdl:input>
      <wsdl:output name="getMultiplyResponse" message="tns:getMultiplyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdd">
      <wsdl:input name="getAdd" message="tns:getAdd">
    </wsdl:input>
      <wsdl:output name="getAddResponse" message="tns:getAddResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorImplServiceSoapBinding" type="tns:CalculatorImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDivide">
      <soap:operation soapAction="urn:GetDivide" style="document"/>
      <wsdl:input name="getDivide">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDivideResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <soap:operation soapAction="urn:GetSubtract" style="document"/>
      <wsdl:input name="getSubtract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubtractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <soap:operation soapAction="urn:GetMultiply" style="document"/>
      <wsdl:input name="getMultiply">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMultiplyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdd">
      <soap:operation soapAction="urn:GetAdd" style="document"/>
      <wsdl:input name="getAdd">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAddResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorImplService">
    <wsdl:port name="CalculatorImplPort" binding="tns:CalculatorImplServiceSoapBinding">
      <soap:address location="http://localhost:8081/BottomUp-cxf-Calculator/services/CalculatorImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
