TopDown-Axis2-calculator/webapp/WEB-INF/services/CalculatorImpl/CalculatorImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapaxis2.reactiveworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://soapaxis2.reactiveworks.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation> Please Type your service description here </wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soapaxis2.reactiveworks.com">
<xs:element name="getDivide">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="a" type="xs:int"/>
<xs:element minOccurs="0" name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getDivideResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getMultiply">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="a" type="xs:int"/>
<xs:element minOccurs="0" name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getMultiplyResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getSubtract">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="a" type="xs:int"/>
<xs:element minOccurs="0" name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getSubtractResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getAdd">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="a" type="xs:int"/>
<xs:element minOccurs="0" name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getAddResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAddResponse">
    <wsdl:part name="parameters" element="ns:getAddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMultiplyResponse">
    <wsdl:part name="parameters" element="ns:getMultiplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtractResponse">
    <wsdl:part name="parameters" element="ns:getSubtractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMultiplyRequest">
    <wsdl:part name="parameters" element="ns:getMultiply">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDivideRequest">
    <wsdl:part name="parameters" element="ns:getDivide">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtractRequest">
    <wsdl:part name="parameters" element="ns:getSubtract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAddRequest">
    <wsdl:part name="parameters" element="ns:getAdd">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDivideResponse">
    <wsdl:part name="parameters" element="ns:getDivideResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorImplPortType">
    <wsdl:operation name="getAdd">
      <wsdl:input message="ns:getAddRequest" wsaw:Action="urn:getAdd">
    </wsdl:input>
      <wsdl:output message="ns:getAddResponse" wsaw:Action="urn:getAddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivide">
      <wsdl:input message="ns:getDivideRequest" wsaw:Action="urn:getDivide">
    </wsdl:input>
      <wsdl:output message="ns:getDivideResponse" wsaw:Action="urn:getDivideResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <wsdl:input message="ns:getSubtractRequest" wsaw:Action="urn:getSubtract">
    </wsdl:input>
      <wsdl:output message="ns:getSubtractResponse" wsaw:Action="urn:getSubtractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <wsdl:input message="ns:getMultiplyRequest" wsaw:Action="urn:getMultiply">
    </wsdl:input>
      <wsdl:output message="ns:getMultiplyResponse" wsaw:Action="urn:getMultiplyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorImplSoap12Binding" type="ns:CalculatorImplPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAdd">
      <soap12:operation soapAction="urn:getAdd" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivide">
      <soap12:operation soapAction="urn:getDivide" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <soap12:operation soapAction="urn:getSubtract" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <soap12:operation soapAction="urn:getMultiply" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorImplHttpBinding" type="ns:CalculatorImplPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getAdd">
      <http:operation location="getAdd"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivide">
      <http:operation location="getDivide"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <http:operation location="getSubtract"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <http:operation location="getMultiply"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorImplSoap11Binding" type="ns:CalculatorImplPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAdd">
      <soap:operation soapAction="urn:getAdd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivide">
      <soap:operation soapAction="urn:getDivide" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtract">
      <soap:operation soapAction="urn:getSubtract" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMultiply">
      <soap:operation soapAction="urn:getMultiply" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorImpl">
    <wsdl:port name="CalculatorImplHttpSoap12Endpoint" binding="ns:CalculatorImplSoap12Binding">
      <soap12:address location="http://localhost:8082/SoapServiceOfAxis2/services/CalculatorImpl.CalculatorImplHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="CalculatorImplHttpEndpoint" binding="ns:CalculatorImplHttpBinding">
      <http:address location="http://localhost:8082/SoapServiceOfAxis2/services/CalculatorImpl.CalculatorImplHttpEndpoint/"/>
    </wsdl:port>
    <wsdl:port name="CalculatorImplHttpSoap11Endpoint" binding="ns:CalculatorImplSoap11Binding">
      <soap:address location="http://localhost:8082/SoapServiceOfAxis2/services/CalculatorImpl.CalculatorImplHttpSoap11Endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
